{% extends 'base.html' %}
{% block title %} Account {% endblock %}
{% block css_style %}
<style>
    /* CSS for user cards */
    .user-card {
        border: 1px solid #ddd;
        border-radius: .25rem;
        box-shadow: 0 4px 6px rgba(0,0,0,.1);
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .user-info {
        color: #ddd;
        margin-bottom: .5rem;
    }

    /* CSS for "View Account" buttons */
    .btn-view-account {
        color: #fff;
        background-color: #1c275c;
        border-color: #1c275c;
    }

    .btn-view-account:hover {
        background-color: #12193b;
        border-color: #12193b;
    }

    /* CSS for "Create User" button */
    .btn-create-user {
        color: #22223b;;
        background-color: #ddd;
        border-color: #ddd;
        font-weight: 500;
        margin-bottom: 20px; /* Add space between the button and user cards */
    }

    .btn-create-user:hover {
        background-color: #22223b;
        border-color: #ddd;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .header h1 {
        margin: 0;
    }

</style>
{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="header">
        <h1 class="text-center">User Profiles</h1>
        <a href="{% url 'register' %}" class="btn btn-create-user">Create New User</a>
    </div>
    
    <div class="row mt-3">
        {% for user in users %}
        <div class="col-md-6">
            <div class="user-card">
                <h5 class="user-info">{{ user.username }}</h5>
                <p class="user-info">{{ user.email }}</p>
                <a href="{% url 'view_account' user.id %}" class="btn btn-view-account btn-block">View Account</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
