{% extends 'base.html' %}
{% load static %}
{% block title %} CLI {% endblock %}
{% block css_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register_login.css' %}">
<style>
    form {
            max-height: 650px;
        }
    .custom-select {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #fff; /* Set background color */
        color: #1c275c; /* Set text color */
    }
</style>
{% endblock %}
{% block content %}
  <!-- Alert-->
<div class="container">
    {% if messages %}
    <div class="alert alert-danger w-50 alert-dismissible fade show centered-alert" role="alert" style="max-height: 300px; overflow-y: auto;">
        <strong>Error:</strong>
        <ul>
            {% for message in messages %}
            <pre>{{ message }}</pre>
            {% endfor %}
        </ul>
        <button type="button" class="close alert-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <!-- Alert-->
     <!-- Alert-->
        {% if connection_result %}
        <div class="alert alert-info w-50 alert-dismissible fade show centered-alert" role="alert" style="max-height: 300px; overflow-y: auto;">
            <strong>Result:</strong>
            <pre>{{ connection_result }}</pre>
            <button type="button" class="close alert-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <!-- Alert-->
    <form action="" method="POST">
        <h2>CLI</h2>
        {% csrf_token %}
            <p>IP address:</p>
            <input type="text" name="address" placeholder="IP address...">

            <p>Username:</p>
            <input type="text" name="username" placeholder="Username...">
        
            <p>Password:</p>
            <input type="password" name="password" placeholder="password...">

            <p>Vendor:</p>
            <select id="vendor" name="vendor"  class="custom-select">
                <option value="juniper_junos">juniper_junos</option>
                <option value="cisco_ios">cisco_ios</option>
                <option value="huawei">huawei</option>
            </select>

            <p>Commande:</p>
            <input type="text" name="command" placeholder="Commande...">

            <input type="submit" value="Submit">
    </form>
    </div>	
{% endblock %}

{% block js_script %}
{% endblock %}

