{% extends 'base.html' %}
{% load static %}
{% block css_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/delete.css' %}">

{% endblock %}
{% block content %}
<form action="{% url 'delete_device' item.id %}" method="POST">
    {% csrf_token %}
    <h2>Delete Router</h2>
    <p>Are you sure you want to delete the router '{{ item }}'? This action cannot be undone.</p>
    <input type="submit" value="Delete" class="button color-delete">
    <a href="{% url 'routeur_DB' %}" class="button btn-secondary">Cancel</a>
</form>
{% endblock %}
