{% extends 'base.html' %}
{% load static %}
{% block title %} Device Form {% endblock %}
{% block css_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register_login.css' %}">
<style>
    form {
        max-height: 650px;
    }
    .custom-select {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #fff; /* Set background color */
        color: #1c275c; /* Set text color */
    }
</style>
{% endblock %}
{% block content %}
<form action="{% url 'update_device' device.id %}" method="POST">
    <h2>Device</h2>
    {% csrf_token %}
    <p> Hostname:</p>
    <input type="text" name="hostname" placeholder="Hostname..." value="{{ device.hostname }}">

    <p>Loopback:</p>
    <input type="text" name="loopback" placeholder="Loopback..." value="{{ device.loopback }}">

    <p>Username:</p>
    <input type="text" name="username" placeholder="Username..." value="{{ device.username }}">

    <p>Password:</p>
    <input type="password" name="password" placeholder="Password..." value="{{ device.password }}">

    <p>Vendor:</p>
    <select name="vendor" class="custom-select">
        <option value="juniper_junos" {% if device.vendor == 'juniper_junos' %}selected{% endif %}>juniper_junos</option>
        <option value="cisco_ios" {% if device.vendor == 'cisco_ios' %}selected{% endif %}>cisco_ios</option>
        <option value="huawei" {% if device.vendor == 'huawei' %}selected{% endif %}>huawei</option>
    </select>

    <input type="submit" value="Update">
</form>
{% endblock %}
{% block js_script %}
{% endblock %}
