{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register_login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
         <!-- Alert-->
         {% if messages %}
        <div class="alert alert-danger w-50 alert-dismissible fade show centered-alert" role="alert">
            <strong>Alert:</strong>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="close alert-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <!-- Alert-->
    <form method="POST" action="">
        {% csrf_token %}
        <h2>LOGIN</h2>
        <hr>
        {% csrf_token %}
        <p>Username</p>
        <input type="text" name="username" placeholder="Username...">
        <p>Password</p>
		<input type="password" name="password" placeholder="Password..." >
		<input type="submit" value="Login">
        <a href="{% url 'landing_page' %}" class="">Back</a>
	</form>	
    </div>	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>	
</body>
</html>
