{% extends 'base.html' %}
{% block title %} Routeur {% endblock %}
{% block css_style %}
<style>
    /* Add custom CSS styles for the table */
    .table-container {
        margin-top: 20px;
    }
    
    .table-container table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .table-container th, .table-container td{
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    .table-container th {
        background-color: #f2f2f2;
    }

    
    .table-container tbody tr:hover {
        background-color: #f5f5f5;
    }

    tr {
        background-color: #fff; /* default color */
    }
    .button {
        text-decoration: none;
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }

    .color-update:hover {
        background-color: #0d0e49;
        color: #fff;
    }
    .color-update{
        background-color: #1c275c;
        color: #fff;
    }
    .color-delete{
        background-color: rgb(179, 7, 7);
        color: #fff;
    }
    .color-delete:hover {
        background-color: rgb(197, 63, 63);
        color: #fff;
    }
    .color-create {
        display: block;
        text-align: center;
        width: 200px; /* Set a specific width for the button */
        padding: 8px 12px;
        margin: 20px auto;
        color: #22223b;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        background-color: #ddd;
        text-decoration: none;
    }
    .color-create:hover {
        background-color: #22223b;
        color: #fff;
    }
    .btn-search {
        background-color: navy;
        color: white;
        border: none;
        padding: 6px 12px;
        cursor: pointer;
    }

    .btn-search:hover {
        background-color: #0056b3;
    }

    /* Styles for the form */
    form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    div {
        display: block;
        margin-bottom: 10px;
    }

    form label {
        font-weight: bold;
        margin-right: 5px;
    }

    form input[type="search"],
    form select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 150px;
        /* Reduced width */
    }

    /* Styles for the heading */
    h1 {
        text-align: center;
        margin-top: 30px;
    }
</style>
{% endblock %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Routers Page</h1>
</div>

    <button class="btn-search" onclick="toggleDeviceListForm()">Add a device list</button>
    <div id="deviceListForm" style="display: none;">
        <form id="uploadForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="excel_file">Select an Excel file :</label>
                <input type="file" id="excel_file" name="excel_file" accept=".xls,.xlsx" required>
            </div>
            <div>
                <label for="username">Username :</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password :</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="btn-search" type="button" onclick="submitDeviceList()">Add</button>
        </form>
    </div>

<form method="GET" action="{% url 'search_router' %}">
    <div>
        <label for="hostname">Hostname:</label>
        <input type="search" placeholder="Hostname" aria-label="Search" name="hostname">
    </div>
    <div>
        <label for="loopback">Loopback:</label>
        <input type="search" placeholder="Loopback" aria-label="Search" name="loopback">
    </div>
    <div>
        <label for="vendor">Vendor:</label>
        <select name="vendor">
            <option value="">Select Vendor</option>
            {% for vendor_choice in vendor_choices %} 
                <option value="{{ vendor_choice.0 }}">{{ vendor_choice.1 }}</option>
            {% endfor %}
        </select>
    </div>
    
    <button class="btn-search" type="submit">Search</button>
</form>


<div class="container table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>Loopback</th>
                <th>Vendor</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.hostname }}</td>
                <td>{{ device.loopback }}</td>
                <td>{{ device.vendor }}</td>
                <td><a class="button color-update" href="{% url 'update_device' device.id %}">Update</a></td>
                <td><a class="button color-delete" href="{% url 'delete_device' device.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            {% if excel_data %}
                {% for row in excel_data %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a class="color-create" href="{% url 'create_device' %}">Add a new device</a>
</div>
{% endblock %}

{% block js_script %}
<script>
    function toggleDeviceListForm() {
        var form = document.getElementById("deviceListForm");
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

    function submitDeviceList() {
        var form = document.getElementById("uploadForm");
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'save_device_list' %}", true);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert("Données enregistrées avec succès !");
                window.location.reload(); 
            } else {
                alert("Erreur lors de l'enregistrement des données.");
            }
        };
        xhr.send(formData);
    }
</script>
{% endblock %}
